:root {
  --card-size: 2.5em;
}
.game-card {
  height: var(--card-size);
  width: var(--card-size);
  padding: 0;
  margin: auto;
  text-align: center;
  font-size: var(--card-size);
  place-content: center;
  color: grey;
  border: 2px solid grey;
}
.game-card p {
  margin: 0;
}
@media (max-width: 576px) {
  :root {
    --card-size: 2.2em;
  }
}
