:root {
  --main-gradient: linear-gradient(
    65.9deg,
    rgb(85, 214, 228) 5.5%,
    rgb(58, 143, 218) 53.2%,
    rgb(85, 214, 228) 100.5%
  );
  --second-gradient: linear-gradient(
    65.9deg,
    rgba(58, 144, 218, 0.74) 50%,
    rgb(85, 214, 228) 100%
  );
}
button.btn-primary,
a.btn-primary {
  border-radius: 25px;
  border-color: var(--bs-white);
  background: var(--second-gradient);
  padding: 0.5em 0.8em;
  border-style: none;
}
button.btn-primary:hover {
  border-style: none;
}
